body {
  background-color: #e2f4ed; /* Cambia el color a tu preferencia */
}

.card {
  background-color: #2a2b2a;
  color: #c99da2;
  width: 700px;
  border-radius: 20px;
}

.card button {
  background-color: #5e4955;
}